    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
        max-width: 65%;
    }

    .contacts-form {
        width: 100%;
    }

    .contacts-title {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .row {
        justify-content: center;
    }

    .col-md-8 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .checkbox {
        text-align: start;
    }

    .submit-btn {
        margin-top: 1em;
        padding: 1em;
        font-size: 1.25em;
        background: rgb(36, 36, 236);
        border-radius: 1.3em;

        /* 29,29,166 */
    }

    .submit-btn:hover {
        background: rgb(29, 29, 166);
    }

    .text-label {
        display: block;
        text-align: left;
        font-size: 1.2em;
        color: grey;
        margin-bottom: 0.2em;
    }

    .form-control {
        height: 2.7em;
        margin-bottom: 1em;
    }

    #otherInfo {
        height: 6em;
        margin-bottom: 1em;
    }